.header{
  width: 100%;
  padding-top: 26px;
  padding-bottom: 20px;

}

.main_logo__txt{
  color: #067db4;
  font-family: $MalgunGothicBold;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.24px;
}
.main_logo__moto{
  margin-top: 4px;
  margin-bottom: 0;
  font-family: $Tahoma;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.82px;
}

.bl_nav__full{
  width: 100%;
  margin-top: 15px;
}

.bl_nav{
  width: 100%;
  display: block;
}

.bl_nav__item{
  display: inline-block;
  margin-left: 1%;
}
.bl_nav__link{
  color: $color_text;
  font-family: $MSC300;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
  transition: all, .3s;
  border-bottom: 1px solid #fff;

  &:hover,
  &:focus{
    outline: none;
    transition: all, .3s;
    border-bottom: 1px solid $color_blue;
  }
}



.bl_info{
  position: relative;
  vertical-align: top;
  display: inline-block;
  max-width:206px;
}


.icon-envelop{
  &:before{
    content: "\f0e0";
    position: absolute;
    left: 0;
    top: 0;
    font-family: $FontAwesome;
    color: $color_btn;
  }
}

.icon-phone{
  &:before{
    content: "\f095";
    position: absolute;
    left: 0;
    top: 0;
    font-family: $FontAwesome;
    color: $color_btn;
  }
}

.bl_info__tel{
  position: relative;
  display: block;
  padding-left: 26px;
  color: $color_text;
  font-family: $MSC700;
  font-size: 20px;
  font-weight: 400;
  &:hover,
  &:focus{
    outline: none;
    text-decoration: underline;
  }
}

.bl_info__email{
  position: relative;
  display: block;
  padding-left: 26px;
  margin-top: 4px;
  color: $color_grey;
  font-family: $MSC300;
  font-size: 14px;
  font-weight: 400;

  &:hover,
  &:focus{
    outline: none;
    text-decoration: underline;
  }
}

.btn_sendLetter{
  position: relative;
  float: right;
  width: 220px;
  height: 50px;
  line-height: 50px;
  color: $color_btn;
  font-family: $MSC500;
  font-size: 20px;
  text-align: center;
  box-shadow: 3px 4px 3px 1px rgba(186, 156, 16, 0.79);
  border-radius: 8px;
  background-color: #fdda24;

  &:focus{
    outline: none;
  }
}