// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-check-no-name: 'icon-check-no';
$icon-check-no-x: 162px;
$icon-check-no-y: 128px;
$icon-check-no-offset-x: -162px;
$icon-check-no-offset-y: -128px;
$icon-check-no-width: 36px;
$icon-check-no-height: 32px;
$icon-check-no-total-width: 274px;
$icon-check-no-total-height: 218px;
$icon-check-no-image: '../image/sprite.png';
$icon-check-no: (162px, 128px, -162px, -128px, 36px, 32px, 274px, 218px, '../image/sprite.png', 'icon-check-no', );
$icon-check-yes-name: 'icon-check-yes';
$icon-check-yes-x: 47px;
$icon-check-yes-y: 168px;
$icon-check-yes-offset-x: -47px;
$icon-check-yes-offset-y: -168px;
$icon-check-yes-width: 40px;
$icon-check-yes-height: 36px;
$icon-check-yes-total-width: 274px;
$icon-check-yes-total-height: 218px;
$icon-check-yes-image: '../image/sprite.png';
$icon-check-yes: (47px, 168px, -47px, -168px, 40px, 36px, 274px, 218px, '../image/sprite.png', 'icon-check-yes', );
$icon-clock-blue-max-name: 'icon-clock-blue-max';
$icon-clock-blue-max-x: 0px;
$icon-clock-blue-max-y: 83px;
$icon-clock-blue-max-offset-x: 0px;
$icon-clock-blue-max-offset-y: -83px;
$icon-clock-blue-max-width: 72px;
$icon-clock-blue-max-height: 80px;
$icon-clock-blue-max-total-width: 274px;
$icon-clock-blue-max-total-height: 218px;
$icon-clock-blue-max-image: '../image/sprite.png';
$icon-clock-blue-max: (0px, 83px, 0px, -83px, 72px, 80px, 274px, 218px, '../image/sprite.png', 'icon-clock-blue-max', );
$icon-clock-blue-name: 'icon-clock-blue';
$icon-clock-blue-x: 162px;
$icon-clock-blue-y: 64px;
$icon-clock-blue-offset-x: -162px;
$icon-clock-blue-offset-y: -64px;
$icon-clock-blue-width: 54px;
$icon-clock-blue-height: 59px;
$icon-clock-blue-total-width: 274px;
$icon-clock-blue-total-height: 218px;
$icon-clock-blue-image: '../image/sprite.png';
$icon-clock-blue: (162px, 64px, -162px, -64px, 54px, 59px, 274px, 218px, '../image/sprite.png', 'icon-clock-blue', );
$icon-clock-white-max-name: 'icon-clock-white-max';
$icon-clock-white-max-x: 162px;
$icon-clock-white-max-y: 0px;
$icon-clock-white-max-offset-x: -162px;
$icon-clock-white-max-offset-y: 0px;
$icon-clock-white-max-width: 54px;
$icon-clock-white-max-height: 59px;
$icon-clock-white-max-total-width: 274px;
$icon-clock-white-max-total-height: 218px;
$icon-clock-white-max-image: '../image/sprite.png';
$icon-clock-white-max: (162px, 0px, -162px, 0px, 54px, 59px, 274px, 218px, '../image/sprite.png', 'icon-clock-white-max', );
$icon-clock-white-name: 'icon-clock-white';
$icon-clock-white-x: 221px;
$icon-clock-white-y: 58px;
$icon-clock-white-offset-x: -221px;
$icon-clock-white-offset-y: -58px;
$icon-clock-white-width: 46px;
$icon-clock-white-height: 51px;
$icon-clock-white-total-width: 274px;
$icon-clock-white-total-height: 218px;
$icon-clock-white-image: '../image/sprite.png';
$icon-clock-white: (221px, 58px, -221px, -58px, 46px, 51px, 274px, 218px, '../image/sprite.png', 'icon-clock-white', );
$icon-hands-blue-name: 'icon-hands-blue';
$icon-hands-blue-x: 83px;
$icon-hands-blue-y: 0px;
$icon-hands-blue-offset-x: -83px;
$icon-hands-blue-offset-y: 0px;
$icon-hands-blue-width: 74px;
$icon-hands-blue-height: 78px;
$icon-hands-blue-total-width: 274px;
$icon-hands-blue-total-height: 218px;
$icon-hands-blue-image: '../image/sprite.png';
$icon-hands-blue: (83px, 0px, -83px, 0px, 74px, 78px, 274px, 218px, '../image/sprite.png', 'icon-hands-blue', );
$icon-key-white-name: 'icon-key-white';
$icon-key-white-x: 221px;
$icon-key-white-y: 114px;
$icon-key-white-offset-x: -221px;
$icon-key-white-offset-y: -114px;
$icon-key-white-width: 47px;
$icon-key-white-height: 48px;
$icon-key-white-total-width: 274px;
$icon-key-white-total-height: 218px;
$icon-key-white-image: '../image/sprite.png';
$icon-key-white: (221px, 114px, -221px, -114px, 47px, 48px, 274px, 218px, '../image/sprite.png', 'icon-key-white', );
$icon-keybord-blue-name: 'icon-keybord-blue';
$icon-keybord-blue-x: 0px;
$icon-keybord-blue-y: 0px;
$icon-keybord-blue-offset-x: 0px;
$icon-keybord-blue-offset-y: 0px;
$icon-keybord-blue-width: 78px;
$icon-keybord-blue-height: 78px;
$icon-keybord-blue-total-width: 274px;
$icon-keybord-blue-total-height: 218px;
$icon-keybord-blue-image: '../image/sprite.png';
$icon-keybord-blue: (0px, 0px, 0px, 0px, 78px, 78px, 274px, 218px, '../image/sprite.png', 'icon-keybord-blue', );
$icon-keybord-white-name: 'icon-keybord-white';
$icon-keybord-white-x: 221px;
$icon-keybord-white-y: 0px;
$icon-keybord-white-offset-x: -221px;
$icon-keybord-white-offset-y: 0px;
$icon-keybord-white-width: 53px;
$icon-keybord-white-height: 53px;
$icon-keybord-white-total-width: 274px;
$icon-keybord-white-total-height: 218px;
$icon-keybord-white-image: '../image/sprite.png';
$icon-keybord-white: (221px, 0px, -221px, 0px, 53px, 53px, 274px, 218px, '../image/sprite.png', 'icon-keybord-white', );
$icon-shield-white-name: 'icon-shield-white';
$icon-shield-white-x: 0px;
$icon-shield-white-y: 168px;
$icon-shield-white-offset-x: 0px;
$icon-shield-white-offset-y: -168px;
$icon-shield-white-width: 42px;
$icon-shield-white-height: 50px;
$icon-shield-white-total-width: 274px;
$icon-shield-white-total-height: 218px;
$icon-shield-white-image: '../image/sprite.png';
$icon-shield-white: (0px, 168px, 0px, -168px, 42px, 50px, 274px, 218px, '../image/sprite.png', 'icon-shield-white', );
$icon-speedometr-blue-name: 'icon-speedometr-blue';
$icon-speedometr-blue-x: 77px;
$icon-speedometr-blue-y: 83px;
$icon-speedometr-blue-offset-x: -77px;
$icon-speedometr-blue-offset-y: -83px;
$icon-speedometr-blue-width: 77px;
$icon-speedometr-blue-height: 66px;
$icon-speedometr-blue-total-width: 274px;
$icon-speedometr-blue-total-height: 218px;
$icon-speedometr-blue-image: '../image/sprite.png';
$icon-speedometr-blue: (77px, 83px, -77px, -83px, 77px, 66px, 274px, 218px, '../image/sprite.png', 'icon-speedometr-blue', );
$spritesheet-width: 274px;
$spritesheet-height: 218px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($icon-check-no, $icon-check-yes, $icon-clock-blue-max, $icon-clock-blue, $icon-clock-white-max, $icon-clock-white, $icon-hands-blue, $icon-key-white, $icon-keybord-blue, $icon-keybord-white, $icon-shield-white, $icon-speedometr-blue, );
$spritesheet: (274px, 218px, '../image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
