/*********************************************/
/*COLORS*/
/*********************************************/

$color_yellow: #fbde34;
$color_form: #f1e000;
$color_blue: #11b7e1;
$color_btn: #067db4;


$color_pink: #dd1796;


$color_text: #3b4952;

$color_grey: #1a1a1a;
$color_lightGrey: #f1f1f1;




/*********************************************/
/*FONTS*/
/*********************************************/

$Tahoma: "Tahoma", sans-serif;

$MalgunGothicBold: "Malgun Gothic Bold", sans-serif;

$MSC300: "Museo Sans Cyrl -300", sans-serif;
$MSC500: "Museo Sans Cyrl -500", sans-serif;
$MSC700: "Museo Sans Cyrl -700", sans-serif;
$FontAwesome: "FontAwesome";

/*********************************************/
  /*SIZES*/
/*********************************************/
