/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Tahoma", "../fonts/Tahoma/Tahoma", 400, normal, woff2 woff ttf );
@include font-face("Museo Sans Cyrl -300", "../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300", 400, normal, woff2 woff ttf );
@include font-face("Museo Sans Cyrl -500", "../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500", 400, normal, woff2 woff ttf );
@include font-face("Museo Sans Cyrl -700", "../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700", 400, normal, woff2 woff ttf );
@include font-face("FontAwesome", "../fonts/FontAwesome/FontAwesome", 400, normal, woff2 woff ttf);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

html,
body {
  height: 100%;
}

body {
  position: relative;
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 400;
  min-width: 320px;


  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  min-height: 100vh;

}

.wrapperBlock {
  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  position: relative;
  width: 100%;
  height: 100%;
}

.bl_wrappen {
  position: relative;
  width: 100%;
  height: 100%;
}

.blackWrapper {

  display: -webkit-box;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgb(51, 51, 51);
  z-index: 1075;
}

.bl_overflow {
  overflow: hidden;
}

.bl_buyOneClick {
  position: relative;
  width: 100%;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

input,
textarea {

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    opacity: 1;
    transition: opacity .3s;
  }

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: 0;
    outline: none;
  }

}
.correct_right {
  padding-right: 0!important;
}

.correct_left {
  padding-left: 0!important;
}

.block_white {
  background-color: #fff;
}
/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
}

.bl_modulUkrPost{
  position: relative;
  width: 100%;
  min-height: 679px;
  background: $color_blue url("../image/bg_top.png") 50% 50% no-repeat;
  background-size: cover;
}

.bl_modulUkrPost__title{
  margin-top: 80px;
  color: #fff;
  font-family: $MSC700;
  font-size: 52px;
  line-height: 72px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.11);
  text-transform: uppercase;
}

.bl_modulUkrPost__description{
  padding: 13px;
  box-sizing: border-box;
  width: 100%;
  max-width: 748px;
  min-height: 143px;
  background-color: rgba(6, 125, 180, .28);

  color: #fff;
  font-family: $MSC300;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1.2px;
}


.form_callback{
  clear: both;
  display: block;
  margin-top: 57px;
  width: 1008px;
  height: 166px;
  opacity: 0.89;
  box-sizing: border-box;
  background: $color_form;
  border: 4px solid #fff;
  border-radius: 20px;
  padding:22px 5%;
}

.form_callback__text{
  text-align: center;
  color: $color_btn;
  font-family: $MSC700;
  font-size: 32px;
  line-height: 36px;
}

.form_callback__inner{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.form_callback__label{
  position: relative;
  width: 100%;
  max-width: 307px;
  height: 52px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 2;

  input{
    position: relative;
    margin-top: 14px;
    height: 24px;
    width: calc(100% - 45px);
    margin-left: 45px;
    margin-bottom: 10px;
    background-color: #fff;
    border:none;
    padding-left: 17px;
    border-left: 1px solid $color_blue;

    &::placeholder{
      color: $color_blue;
      font-family: $MSC300;
      font-size: 18px;
    }

    &:focus{
      outline: none;
    }

  }

}
.form_callback__error{
  position: absolute;
  left: 45px;
  top:14px;
  z-index:-2;
  font-size: 16px;
  color: #f00;
  transition: all .3s;

  &.active{

    top: -26px;
    transition: all .3s;

  }
}

.form_callback__button{
  position: relative;
  width: 200px;
  height: 53px;
  box-shadow: 3px 4px 3px 1px rgba(85, 80, 55, 0.38);
  border-radius: 8px;
  background-color: $color_btn;
  color: #fff;
  font-family: $MSC500;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 10px;
  opacity:1;
  padding-left: 16px;
  &:hover,
  &:focus{

  }


}




.icon-plane{
  &:before{
    content: "\f1d8";
    position: absolute;
    top: 8px;
    left: 20px;
    font-family:$FontAwesome;
    color: inherit;
    font-size:22px;
    z-index:1;

  }
}


.bl_decorIcons{
  width: 100%;
  margin-top: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.bl_decorIcons__item{
  position: relative;
  min-width:108px;
  height:50px;
  color: #fff;
  font-family: $MSC500;
  font-size: 24px;
  text-align: center;
}


.icon-key-white{
  margin: 0 auto;
  @include sprite($icon-key-white);
}

.icon-shield-white{
  margin: 0 auto;
  @include sprite($icon-shield-white);
}
.icon-clock-white{
  margin: 0 auto;
  @include sprite($icon-clock-white);
}

.bl_advantages{
  margin-top: 74px;
  width: 100%;
}

.bl_advantages__title{
  width: 100%;
  text-align: center;
  color: $color_text;
  font-family: $MSC700;
  font-size: 48px;
  line-height: 36px;
}


.bl_advantages__inner{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 87px;


}

.bl_advantages__item{
  text-align: center;
  width: 100%;

}


.bl_advantages__icon{
  position: relative;
  width: 184px;
  height: 184px;
  margin:0 auto;
  border-radius: 50%;
  border: 5px dotted $color_blue;
  background-color: #fff;
  div{
    margin: 0 auto;
  }


  &:hover{
    border-color: $color_yellow;
    background-color: $color_yellow;
  }
}




.icon-keybord-blue{
  &:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-keybord-blue);
  }


}
.icon-clock-blue-max{
  &:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-clock-blue-max);
  }
 
}
.icon-hands-blue{
  &:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-hands-blue);
  }
  
}

.icon-speedometr-blue{
  &:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-speedometr-blue);
  }

}

.bl_advantages__text{
  margin-top: 32px;
  //max-width: 158px;
  color: $color_text;
  font-family: $MSC700;
  font-size: 24px;
  font-weight: 400;
}


//////// COAST

.bl_coast{
  margin-top: 70px;
  width: 100%;
  padding:65px 0;
  color: #fff;
  background-color: $color_blue;
}


.bl_coast__title{
  text-align: center;
  font-family: $MSC700;
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
}

.bl_coast__elements{
  margin-top: 70px;
  text-align: right;
  color: #6de2ff;
  font-family: $MSC500;
  font-size: 30px;
  line-height: 36px;
}

.bl_services{

  width: 100%;
}

.bl_services__item{
  position: relative;
  margin-top: 55px;
  color: #fff;
  font-family: $MSC500;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;

  &:before{
    content: '\f138';
    font-family:$FontAwesome;
    padding-right: 7%;
    color:inherit;

  }
}











.icon-commenting{
  &:before{
    content: "\f27b";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;

  }

}



/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
