@import "../components/variables";
/*********************************************/
/*Desktop First Method*/
/*********************************************/

/* Large Devices, Wide Screens 1280px */
@media only screen and (max-width: 1200px) {
 .main_logo__txt{
   font-size: 20px;
 }
  .main_logo__moto{
    font-size: 9px;
  }

  .btn_sendLetter{
    width: 178px;
  }


  .form_callback__button{
    margin: 10px auto;
  }


  .bl_services__item{
    margin-top: 50px;
  }

  .bl_viewCoast__item{
    display: block;
    margin: 0 auto;
  }
  .availability_services__item{
    margin: 56px auto;
  }
  .bl_services__item:before{
    padding-right: 5px;
  }


  .bl_qustions__full{
    padding: 0 3%;
  }
  .bl_qustions__query{
    font-size: 18px;
  }

}

/* Medium Devices, Desktops 992px */
@media only screen and (max-width: 991px) {

  .header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 102;
  }

  .main{
    margin-top: 74px;
  }


  .bl_nav__full{
    display: none;
    margin-top: 98px;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
  .header.active .bl_nav__full{
    display: block;
  }
  .header.active .btn_menuList{
    &:after{
      content: "\f2d4";
    }
  }

  .bl_nav{
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    background-color: rgba(17, 183, 225, 0.6);
  }


  .bl_nav__item{

    display: block;
    margin: 10px auto;
    text-align: center;

  }

  .bl_nav__link{
    font-size: 24px;
    color: $color_yellow;
    display: block;
    border:none;

    &:focus,
    &:active{
      color: #fff;
      border: none;
    }
  }

  .bl_advantages__inner{
    flex-direction: column;
  }
  .bl_advantages__item{
    margin: 10px auto;
  }


  .form_callback__label{
    margin:  15px auto;
  }

  .form_callback__inner{
    flex-direction: column;
  }

  .bl_services__item{
    font-size: 20px;
  }

  .bl_integration__circle{
    display: none;
  }

  .bl_integration__action{
    width: 100%;
    margin-left: 0;
    text-align: center;
    border:none;
    color: $color_blue;
    font-family: $MSC700;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }

  .bl_integration__action:before{
    content: "01";
    left: 50%;
    top: -200%;
    width: 74px;
    height: 74px;
    transform:translateX(-50%);
    line-height: 74px;
    color: $color_blue;
    font-family: $MSC700;
    font-size: 38px;
    text-align: center;
    box-shadow: 3px 4px 11px 2px rgba(14, 151, 186, 0.34);
    background-color: #fff;
    border-radius: 50%;
  }

  @for $i from 1 through 4 {
    .bl_integration__step:nth-child(#{$i}) .bl_integration__action:before {
      content: "0"+($i);
    }
  }


  .bl_integration__action:after{
    display: none;
  }


  .bl_integration__work{
    display: block;
    float: none;
    width: 100%;
    max-width: initial;
    height: auto;
    background-color: inherit;
    padding-right: 0;
    padding-left: 0;

    p{

      text-align: center;
      color: $color_blue;
      font-family: $MSC300;
      font-size: 18px;
    }
    &:after{
      display: none;
    }
    &:before{
      display: none;
    }
  }


  .bl_qustions__half{
    width: 100%;
  }

}

/* Small Devices, Tablets 768px */
@media only screen and (max-width: 768px) {
  .main_logo__txt{
    font-size: 18px;
  }

  .bl_modulUkrPost__title{
     font-size: 30px;
   }

  .bl_services__item{
    font-size: 16px;
  }

  .bl_services__item:before{
    display: none;
  }

  .bl_info__tel{
    font-size: 18px;
  }


  .footer .main_logo__txt{
    text-align: center;
    margin-bottom: 15px;
  }

  .btn-play{
    &:after{
      font-size: 80px;
    }
  }

  .bl_video{
    margin-top: 50px;
  }

}


@media only screen and (max-width: 600px) {

  .bl_modulUkrPost__title{
    font-size: 25px;
  }

  .bl_modulUkrPost__description{
    font-size: 18px;
  }


  .availability_services__item{
    margin:  54px auto;
  }

  .icon-present{
    width: 40px;
    height: 40px;
  }

  .bl_advantages{
    margin-top: 30px;
  }

  .bl_aboutCompany__title,
  .bl_advantages__title,
  .bl_integration__title,
  .bl_video__title,
  .bl_qustions__title,
  .bl_qustions__title span,
  .bl_customers__title,
  .bl_contactInformation h2{
    font-size: 28px;
  }

  .icon-question:before{
    font-size: 38px;
  }

  .bl_advantages__item{
    margin-top: 15px;
  }

  .bl_advantages__text{
    font-size: 18px;
  }

  .bl_aboutCompany__text{
    margin-top: 20px;
    font-size: 16px;
  }

  .btn-play{
    &:after{
      width: 55px;
      height: 40px;
      font-size: 55px;
    }
  }

  .btn_question{
    width: 38px;
    height: 38px;
    font-size: 42px;
  }
  .bl_qustions__query{
    padding-left: 12px;
    width: calc(100% - 60px);
    line-height: 30px;
  }

  .bl_qustions__item.active .btn_question {
    &:after {
      content: "\f147";
      font-size: 44px;
    }
  }


  .bl_callBack__title{
    margin-top: 44px;
    font-size: 28px;
  }
  .bl_callBack__text{
    font-size: 24px;
  }

  .bl_callBack__label{
    max-width: initial;
  }
  .bl_callBack__label:nth-of-type(2) {
    border-left: 1px solid #fff;
  }
  .bl_callBack__label input{
    left: 28px;
  }
  .bl_callBack__form .icon-user,
  .bl_callBack__form .icon-mobile{
    &:before{
      content: "";
    }
  }


}
@media only screen and (max-width: 521px) {

  .bl_services__item{
    margin-top: 20px;
  }
  .bl_viewCoast{
    margin-top: 0;
  }
  .availability_services__item {
    margin: 30px auto;
  }
  .availability_services__item:first-child{
    margin-top: 28px;
  }

  .bl_viewCoast__item{
    min-height: initial;
  }
}


/* Extra Small Devices, Phones 480px */
@media only screen and (max-width: 480px) {
  .bl_modulUkrPost__title{
    font-size: 18px;
    line-height: 35px;
  }

  .bl_modulUkrPost__description{
    font-size: 14px;
  }

  .main_logo__txt{
    font-size: 15px;
  }
  header .bl_info__tel{
    padding-left: 0;
    font-size: 14px;
    &:before{
      content:"";
    }
  }

  .btn_menuList{
    margin-top: -4px;
  }


  .bl_services__item{
    font-size: 14px;
    margin-top: 25px;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    white-space:nowrap;
  }

  .availability_services__item{
    margin: 32px auto;
  }


  .bl_advantages__title {
    font-size: 28px;
  }

  .bl_aboutCompany__text,
  .bl_video__text{
    font-size: 14px;
    span{
      font-size: 14px;
    }
  }
  .icon-eye:before{
    font-size: 24px;
  }

  .btn-play{
    &:after{
      font-size: 40px;
    }
  }


  .icon-present{
    width: 40px;
    height: 40px;
    &:before{
      font-size: 40px;
    }
    &:after{
      font-size: 18px;
    }
  }

}

/* Custom, iPhone Retina 320px */
@media only screen and (max-width: 320px) {

}
